.navbar {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    margin-top: -100px;
    background-color: white;
    opacity: 1;
    z-index: 1000;
    padding: 15px;
}

section{
    margin-top: 90px;
    position: relative;
}

section::before {
    z-index: -1;
    content: '';
    font-size: 72px;
    color: gray;
    position: absolute;
    font-weight: 600;
    top: -15px;
    left: -30px;
}

.btn.button{
    border: 2px solid black;
    border-radius: 24px;
}

.btn.button:hover, .btn.button.active{
    background-color: black;
    color: white;
}

#home img{
    width: 100%;
}

#home .arrow img{
    width: 60px;
    animation: 1s naikTurun infinite;

} 

@keyframes naikTurun {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}

#about::before{
    position: relative;
    content: 'About';
}

#about .isi{
    display: none;
}