header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    padding: 15px 80px;
}

header ul{
    display: flex;
    list-style: none;
    gap: 10px;
    text-align: center;
}