.navbar {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
}

section{
    margin-top: 90px;
}

#home .btn.button{
    border: 2px solid black;
    border-radius: 24px;
}

#home .btn.button:hover{
    background-color: black;
    color: white;
}

#home img{
    width: 100%;
}

#home .arrow img{
    width: 60px;
} 
